.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group button {
    border-radius: 5px;
    margin: 0 10px 10px 0;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #17a2b8;
}

.save-button-div {
    margin-top: 15px;
}

.long-toggles {
    white-space: inherit;
}