.profile {
    width: 35%;
    background-color: rgb(255, 255, 255, 0.0)
}

body {
    background-image: url("./wood-background.jpg");
    background-size: 100% 100%;
    height: 100vh
}

.card {
    border: none;
}

.card-first {
    background-image: url("./wood-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-extra-opacity {
    background-color: rgb(255, 255, 255, 0.85)
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./metal-2.jpg");
    border: none;
    color: gainsboro;
    font-size: 1.15rem;
}

.hl-scroll-body {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.hl-scroll-card {
    flex: 0 0 auto;
    margin-right: 10px;
}

.button {
    border: 1px solid white;
}

.profile-edit-button {
    margin-top: 10px;
    margin-right: 10px;
}

.card-edit-extra-opacity {
    background-color: rgb(255, 255, 255, 0.7)
}

#welcome-links {
    display: flex;
    justify-content: space-evenly;
}

#welcome-text {
    text-align: center;
}

.container-div {
    padding: 10px;
}

.card-search {
    background-image: url("./wood-background.jpg");
    background-size: 100% 100%;
}

.search-form-buttons {
    display: flex;
    flex-direction: column;
}

.search-buttons {
    margin-bottom: 10px;
}

.search-form-title {
    text-align: center;
}
