.navbar-barrel {
    width: 50px;
}

.navbar {
    background-image: url("./../home/metal-2.jpg");
}

.nav-link:visited {
    color: deepskyblue;
}

#logo {
    height: 33px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(220, 220, 220);
}

.navbar-dark .navbar-toggler {
    border-color: gainsboro;
}

button:focus {
    outline: 3px auto deepskyblue;
}